[submodule "GamEngine\\lib\\spdlog"]
	path = GamEngine\\lib\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "GamEngine\\lib\\GLFW"]
	path = GamEngine\\lib\\GLFW
	url = https://github.com/deanzOo/glfw.git
[submodule "GamEngine\\lib\\ImGui"]
	path = GamEngine\\lib\\ImGui
	url = git@github.com:deanzOo/imgui.git
